* {
  margin: 8px 8px;
  text-align: right;
}

body {
  display: flex;
  flex-direction: column;
}

main,
section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#astronauta {
  border-radius: 50%;
}